[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
black = "*"
simplejson = "*"
connexion = "==2.7.0"
swagger-ui-py = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
